body {
  background: var(--Greyscale_Black_100);
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Chakra Petch', sans-serif;
  color: var(--Greyscale_White);
  font-weight: 500;
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
button:active {
  transform: scale(0.99);
}
a {
  color: var(--Greyscale_White);
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: var(--Greyscale_White);
}

li:active {
  transform: scale(0.98);
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.icon {
  width: 12px;
  height: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

input {
  padding: 0;
}

.preloader {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
