.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.logo span {
  font-size: 24px;
}
.nav {
  display: flex;
}
.list {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.875rem, -1.903rem + 7.87vw, 4rem);
}
.item {
  display: flex;
}
.link {
  transition: 0.3s;
}
.link:hover {
  background: linear-gradient(to right, rgb(12, 186, 241), rgb(233, 92, 233));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 5s linear infinite;
}
.link:active {
  background: linear-gradient(to right, rgb(233, 92, 233), rgb(12, 186, 241));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media screen and (max-width: 769px) {
  .nav {
    display: none;
  }
}
